<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sad.tpharma">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".VenteActivity"
            android:windowSoftInputMode="stateHidden"
            />
        <activity
            android:name=".Historique"
            android:label="Historique"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".CommandeActivity"
            android:label="Commande"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".commande.NouvelleCommandeActivity"
            android:label="Nouvelle Commande"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".commande.HistoriqueCommandeActivity"
            android:label="Historique Commande"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".FactureActivity"
            android:label="Facture"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".facture.NoteFraisActivity"
            android:label="Note de frais"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".facture.FactureClientActivity"
            android:label="Facture Client"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".facture.FactureFournisseurActivity"
            android:label="Facture Fournisseur"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".InventaireActivity"
            android:label="Inventaire"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".RetourProduitActivity"
            android:label="Retour Produit"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".NoteFraisActivity"
            android:label="Note frais"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ClientActivity"
            android:label="Client"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".UserActivity"
            android:label="Utilisateur"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".GrossisteActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ReimpressionTicketActivity"
            android:label="Reimpression de ticket"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="stateHidden"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ChangePasswordActivity"
            android:windowSoftInputMode="stateHidden"
            >

        </activity>
        <activity
            android:name=".MutuelleActivity"
            android:label="Mutuelle"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name=".ConsultationPrixActivity"
            android:label="Consultation de Prix"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name=".ImprimerConsultationPrixActivity"
            android:label="Consultation de Prix"
            android:windowSoftInputMode="stateHidden"
            >

        </activity>
        <activity
            android:name=".CreeCommandeActivity"
            android:label="Commande"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name=".AjoutQuantiteProduitCommande"
            android:label="Commande"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name=".ResumeActivity"
            android:label="Resume"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity
            android:name=".commande.ReceptionCommandeActivity"
            android:label="Reception"
            android:windowSoftInputMode="stateHidden">

        </activity>
        <activity android:name=".ReceptionProduitCommandeActivity">

        </activity>
    </application>

</manifest>